<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 顶部tab -->
<div class="tab-header" th:fragment="top">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">婉碧商城</span></div>
        </div>
        <div class="pull-right">
            <div th:if="${session.USER_SESSION != null}">
                <a th:href="@{/user/person/center}">我的婉碧</a>
                <a th:href="@{/user/person/order}">我的订单</a>
            </div>
            <div th:if="${session.USER_SESSION == null}">
                <a th:href="@{/login}"><span class="cr">登录</span></a>
                <a th:href="@{/regist}">注册</a>
            </div>
        </div>
    </div>
</div>
</html>