<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanl.mapper.AccountMapper">

    <insert id="create" parameterType="Account">
      INSERT INTO esm_useraccount(id,user_id,balance) VALUES (#{id},#{user.id},#{balance})

    </insert>
    <update id="update" parameterType="account">
        UPDATE esm_useraccount SET balance = #{balance} WHERE id = #{id}
    </update>
    <select id="get" resultMap="accountResultMap">
        SELECT * FROM esm_useraccount WHERE user_id = #{id}
    </select>
    <resultMap id="accountResultMap" type="account">
        <id column="id" property="id"></id>
        <result column="balance" property="balance"></result>
        <association property="user" column="user_id" select="com.wanl.mapper.UserMapper.findUserById"></association>
    </resultMap>
</mapper>
