<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanl.mapper.ProductMapper">
    <update id="update" parameterType="product">
        UPDATE esm_product SET
          main_title = #{mainTitle},
          sub_title = #{subTitle},
          price = #{price},
          old_price = #{oldPrice},
          buy_count = #{buyCount},
          img = #{img},
          detail = #{detail},
          is_hot = #{isHot},
          status = #{status},
          stock = #{stock},
          shelf_time = #{shelfTime}
          WHERE id = #{id}
    </update>

    <select id="findHotProduct" resultMap="productResultMap">
        SELECT id,cate_id,main_title,sub_title,price,old_price,buy_count,img,detail,`status`,is_hot,stock,shelf_time
        FROM esm_product
        WHERE is_hot = 1
        ORDER BY RAND() LIMIT 8

    </select>
    <resultMap id="productResultMap" type="product">
        <id column="id" property="id"/>
        <result column="main_title" property="mainTitle"/>
        <result column="sub_title" property="subTitle"/>
        <result column="price" property="price"/>
        <result column="old_price" property="oldPrice"/>
        <result column="buy_count" property="buyCount"/>
        <result column="img" property="img"/>
        <result column="detail" property="detail"/>
        <result column="is_hot" property="isHot"/>
        <result column="status" property="status"/>
        <result column="stock" property="stock"/>
        <result column="shelf_time" property="shelfTime"/>
        <association column="cate_id" property="category" select="com.wanl.mapper.CategoryMapper.findCateById"></association>
    </resultMap>
    <select id="findProductById" resultMap="productResultMap" parameterType="int">
        SELECT id,cate_id,main_title,sub_title,price,old_price,buy_count,img,detail,`status`,is_hot,stock,shelf_time FROM esm_product WHERE id = #{id}
    </select>
    <select id="findProductByCategoryId" resultMap="productResultMap">
        SELECT id,cate_id,main_title,sub_title,price,old_price,buy_count,img,detail,`status`,is_hot,stock,shelf_time FROM esm_product WHERE cate_id = #{id}
    </select>
</mapper>
